<div class="row">
  <div class="col-sm-8">
    <% @articles.each do |article|  %>
        <div class="article_content">
          <h3><%= link_to article.title, article_path(article) %></h3>
          <p><%= article.content %></p>
        </div>
    <% end %>
    <%= paginate @articles %>
  </div>

  <div class="col-sm-4">
    <div class="right_side">
      <h3>有用链接</h3>
      <% @shared_links.each do |shared_link| %>
        <p><%= link_to(shared_link.name, shared_link.link) %></p>
      <% end %>
    </div>
  </div>
</div>