// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

.article_content {
  border: 1px solid #dddddd;
  border-radius: 5px;
  background-color: #ffffff;
  margin-top: 10px;
  padding: 5px 20px 5px 20px;
}